li{
    list-style-type: none;
}
.content__price{
    color: #2196F3;
    font-size: 24px;
    font-weight: 600;
  }
  .content__body{
  }
  .content__item{
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .content__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content__details{
    display: grid;
    grid-template-columns: 1.15fr 1.15fr 0.7fr;
    margin-bottom: 20px;
  }
  .content__details:nth-last-child(1){
    margin-bottom: 0;
  }
  .content__title{
    color: #A0B0B9;
    font-size: 12px;
    font-weight:600;
    text-transform: uppercase;
  
  }
  .content__description{
    font-size: 14px;
    font-weight: 500;
  
  }
  .content__wrapper{
    display: flex;
    flex-direction: column;
  }
  .content__logo {
    width: 100px;
    height: 50px;
    margin-right: 10px;
  }